<table class="table table-striped" id="dynamic-table">
  <thead>
    <tr>
      <th class="text-center">
        Title
      </th>
      <th class="text-center">
        Author
      </th>
      <th class="text-center">
        ISBN
      </th>
      <th>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </th>
    </tr>
    <tr id="add-book-form">
      <td>
        <input type="text" class="title" placeholder="Title..." class="form-control" />
      </td>
      <td>
        <input type="text" class="author" placeholder="Author..." class="form-control" />
      </td>
      <td>
        <input type="text" class="isbn" placeholder="ISBN..." class="form-control" />
      </td>
      <td>
      </td>
    </tr>
  </thead>
  <tbody>
        <%= form_tag books_path, :id => 'book-choices-form' do %>
            <% @library.each do |book| %>
                <%= fields_for 'books[]', book do |b| %>
                    <tr>
                        <td><%= b.text_field :title, :readonly => true %></td>
                        <td><%= b.text_field :author, :readonly => true %></td>
                        <td><%= b.text_field :isbn, :readonly => true %></td>
                        <td class="delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="book-search-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Found these books</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped" id="search-results">
          <thead>
            <tr>
              <td>Title</td>
              <td>Author</td>
              <td>ISBN</td>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

  <div class="modal fade" tabindex="-1" role="dialog" id="book-details-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Details for</h4>
        </div>
        <div class="modal-body">
          Details of the book
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
